<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <b>Name:</b>
			  <%= @task.taskname %>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @task.description %>
			</p>
			<%= link_to 'Edit', edit_task_path(@task) %> |
			<%= link_to 'Back', tasks_path %>
		</div>
	</div>
</div>


