<h1>About</h1>

<p>
	<%= link_to "The Jellypot", "http://jellypot.asmarterparent.com" %>
	is a project from 
	<%= link_to "aSmarterParent.com", "http://asmarterparent" %> 
	to help families track tasks completed in a positive way to emphsise useful behavior and tasks that benifit the familiy as a whole. 
</p>
