<div class="footer">
	<div class="hero-unit">
		<h3>Warning:</h3> 
		<h4>This project is in active development, any user data may be lost at any time so just be aware please, and Thanks!</h4>
	</div>
	<small>
		The Jellypot - from <%= link_to "aSmarterParent.com", "http://asmarterparent.com" %>
	</small>
</div>